.picker-container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.slot {
  width: 60px;
  border: 1px solid black;
} 

.slot-used {
  background-color: rgba(1, 1, 1, 0.5);
}

.slot-free {
  cursor: pointer;
  background-color: rgba(21, 228, 131, 0.5);
}

.selected {
  background-color: rgba(0, 134, 72, 0.548);
}